---
layout: page
title: "Community"
description: "Users and developpers of the OGGM model"
header-img: "img/backgrounds/members.jpg"
---

<h3>Mailing list</h3>
<br>
If you want to be informed about the OGGM developments, publications or
workshops please subscribe to the OGGM mailing list by
<u><a href="mailto:info@oggm.org">writing us an e-mail</a></u>.
<br>
<br>

<h3>Research projects related to OGGM</h3>
<br>

<ul>
  <li><u><a href="http://marzeion.info/content/predictability-and-attribution-regional-sea-level-change-caused-glacier-mass-change"> Predictability and Attribution of Regional Sea Level Change Caused by Glacier Mass Change</a></u> (Universität Bremen)</li>
  <li><u><a href="http://marzeion.info/content/ocean-ice-interaction-peripheral-greenland-glaciers"> Ocean-ice Interaction of peripheral Greenland Glaciers</a></u> (Universität Bremen)</li>
  <li><u><a href="http://marzeion.info/content/projections-global-glacier-melt-under-low-end-warming-scenarios"> Projections of global glacier melt under low-end warming scenarios </a></u> (Universität Bremen)</li>
  <li><u><a href="http://acinn.uibk.ac.at/research/ice-and-climate/projects/grindelwald"> The Upper Grindelwald Glacier as indicator for Holocene climate variability</a></u>  (Universität Innsbruck)</li>
  <li>Modelling of glacier length changes in the Alps on the base of tree-ring based temperature reconstructions for the last 2500 years (Universität Innsbruck)</li>
  <li>Modelling glacier changes over the past millennium (UC Louvain)</li>
</ul>


<h3>Past and present OGGM contributors</h3>

<hr>

{% assign people = site.data.people | sort:"last_name" %}

<ul style="columns: 2; -webkit-columns: 2; -moz-columns: 2; list-style-type: none;">
{% for member in people %}
{% if member.visible %}
  <li>
	<strong>{{ member.first_name }} {{ member.last_name }} </strong>
	{% if member.github %}
	<small>
	<a href="https://github.com/{{ member.github }}" title="Github" target="_blank"><span class="fa-stack fa-lg"> <i class="fa fa-github fa-stack-1x"></i> </span></a>
  </small>
	{% endif %}
	{% if member.url %}
	<small>
	<a href="{{ member.url }}" title="Google Plus" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-external-link fa-stack-1x"></i></span></a>
  </small>
	{% endif %}
	<br>
	<small><i>{{ member.institution }}</i></small>
  <hr>
	</li>
{% endif %}
{% endfor %}
</ul>
