---
layout: page
title: "People"
description: "Past and present OGGM contributors"
header-img: "img/backgrounds/members.jpg"
---

<hr>

{% assign people = site.data.people | sort:"last_name" %}

{% for member in people %}
{% if member.visible %}
	<strong>{{ member.first_name }} {{ member.last_name }} </strong>
	{% if member.github %}
	<small>
	<a href="https://github.com/{{ member.github }}" title="Github" target="_blank"><span class="fa-stack fa-lg"> <i class="fa fa-github fa-stack-1x"></i> </span></a>
  </small>
	{% endif %}
	{% if member.url %}
	<small>
	<a href="{{ member.url }}" title="Google Plus" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-external-link fa-stack-1x"></i></span></a>
  </small>
	{% endif %}

	<small><div><i>{{ member.institution }}</i></div></small>
	<hr>
{% endif %}
{% endfor %}
